body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 100%;
  margin: auto;
  color: #3a3a3a;
  background-color: #f1efb9;
}

.body-container {
  max-width: 100%;
  margin: auto;
  padding: 0 10px; /* Add padding to ensure content doesn't touch the screen edges */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar form {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
}

.navbar .cart-icon,
.navbar .btn-success {
  margin-left: 10px;
}

.cart-count {
  background: red;
  color: white;
  border-radius: 50%; /* Change this to make it a perfect circle */
  height: 20px;
  width: 20px; /* Add this to make it a square */
  padding: 0; /* Remove the padding */
  top: -10px;
  right: 10px;
  position: relative;
  display: flex; /* Add this to center the number */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: 12px; /* Add this to adjust the number font size */
}

.cart-details {
  max-height: 700px;
  width: 550px;
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  background: white;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f7fe;
}

.container {
  margin-left: 80px;
}

.products {
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap; /* Prevent items from wrapping */
  }

  nav form {
    flex-direction: row;
    gap: 5px;
    flex-grow: 1; /* Ensure form takes available space */
    margin-right: 10px;
  }

  .navbar .cart-icon,
  .navbar .btn-success {
    flex-shrink: 0; /* Prevent buttons from shrinking */
    margin-left: 10px;
  }
}

h1 {
  margin-top: 40px;
  padding-bottom: 10px;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-top: 1px solid #f9f7fe;
  border-bottom: 1px solid #f9f7fe;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f9f7fe;
  padding-top: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

/* SHOPPING CART */
#cart-page {
  display: none;
  padding: 20px;
}

#cart-page.visible {
  display: block;
}

#cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: auto;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 767.98px) {
  .navbar .cart-icon,
  .navbar .btn-success {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .body-container {
    margin: auto;
    padding: 0 10px;
  }

  .container {
    margin-left: 0;
  }
}
