body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 100%;
  margin: auto;
  color: #3a3a3a;
  background-color: #f1efb9;
}

.body-container {
  max-width: 100%;
  margin: auto;
  padding: 0 10px; /* Add padding to ensure content doesn't touch the screen edges */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar form {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
}

.navbar .cart-icon,
.navbar .btn-success {
  margin-left: 10px;
}

.cart-count {
  background: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0;
  top: -10px;
  right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.cart-details {
  max-height: 700px;
  width: 550px;
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  background: white;
}

/* cart positioning */
.productPositioning {
  display: flex;
  justify-content: space-between;
  width: 55vh;
}

.cartImage {
  height: 100px;
  width: 20vh;
}
/* cart positioning */

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f7fe;
}

.cart-summary {
  border-top: 1px solid #f9f7fe;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
  }

  nav form {
    flex-direction: row;
    gap: 5px;
    flex-grow: 1;
    margin-right: 10px;
  }

  .navbar .cart-icon,
  .navbar .btn-success {
    flex-shrink: 0;
    margin-left: 10px;
  }
}

h1 {
  margin-top: 40px;
  padding-bottom: 10px;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-top: 1px solid #f9f7fe;
  border-bottom: 1px solid #f9f7fe;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f9f7fe;
  padding-top: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

a {
  color: #0b8457;
}
a:visited {
  color: #17b794;
}

/* SHOPPING CART */
#cart-page {
  display: none;
  padding: 20px;
}

#cart-page.visible {
  display: block;
}

#cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: auto;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 767.98px) {
  .navbar .cart-icon,
  .navbar .btn-success {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .body-container {
    margin: auto;
    padding: 0 10px;
  }

  .container {
    margin-left: 0;
  }
}
